/* *{} i.e universal selector apply given css to all element */
/* universal selector mut be on very top of page */

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  /* apply a font to page */
  /* local fonts */
  font-family: Arial, Helvetica, sans-serif;
  height: 200vh;
}

.new-offer {
  background-color: #192f60; /* hex code red(1 9) green(2 f) blue(6 0)*/
  /* 0 1 2 3 4  5 6 7 8 9 A B C D E F */
  color: white;
  padding: 12px 45px;
  display: flex;
  justify-content: space-between;
}

.bg-red {
  background-color: red;
}

.bg-green {
  background-color: green;
  color: white;
}

.bg-magenta {
  background-color: magenta;
}

.bg-brown {
  background-color: brown;
}

.offer-text-color {
  color: #ffd381;
}
.text-white {
  color: white;
}
.text-blue {
  color: #0052cc;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.main-header-left {
  display: flex;
  align-items: center;
}

/* child selector */
.main-header-left > * {
  margin: 0px 20px;
}
.header-Category {
  border: 1px solid #0052cc;
  padding: 12px 24px;
  color: #0052cc;

  /* round corners */
  border-radius: 5px;

  /* change cursor */
  cursor: pointer;
}

/* when we take mouse on element i.e hover */
.header-Category:hover {
  background-color: #0052cc;
  color: white;
}

.header-search-course {
  border: 1px solid #f4f5f7;
  background-color: #f4f5f7;
  padding: 12px 30px;
  padding-right: 70px;
  border-radius: 40px;
  color: #5a6484;
}

.header-menu {
  /* ul bullets */
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
}

.header-menu > li {
  margin: 0px 15px;
  color: #192f60;
  padding: 8px 14px;
  cursor: pointer;
}
.header-menu > li:hover:last-child {
  background-color: transparent;
}

.header-menu > li:last-child {
  margin: 0px;
  padding: 0;
  margin-right: 10px;
}

.header-menu > li:hover {
  background-color: #f4f5f7;
}

.header-menu > li > button {
  background-color: transparent;
  border: 1px solid #192f60;
  border-radius: 3px;
  padding: 10px 12px;
}

.brand-image {
  width: 150px;
}

.position-learn {
  /* position: static; */

  /* 
  static 
  relative 
  absolute 
  fixed 
  sticky
  */
  position: fixed;
  background-color: #808080d5;
  top: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  /* hide */
  display: none;
}

.box {
  width: 50%;
  height: 50vh;
  background-color: white;
  overflow: hidden;
  padding: 20px;
}

.slider img {
  width: 100%;
}

.trending-course {
  display: flex;
  justify-content: center;
}

.trending-course-training {
  width: 30%;
  /* border: 1px solid black; */
  margin: 0 20px;
  position: relative;
  top: -50px;
  background-color: white;
  padding: 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  /* works the text transform */
  text-transform: uppercase;

  /* shadow */
  box-shadow: 0px 0px 5px 0px gray;
  /* x-axis y-axis blur scale color  */

  border-radius: 5px;

  /* add animation  */
  transition-property: transform, background-color;
  transition-duration: 5s, 0.5s;

  transform-style: preserve-3d;
}
.trending-course-training:hover {
  /* zoom effect */
  /* transform: scale(1.05); */

  /* move effect (left/right/bottom/top) */
  /* transform: translateX(30px); */
  /* transform: translateY(-20px); */

  /* rotation-effect */
  transform: perspective(300px) rotateY(75deg);

  /*  mix effect */
  /* transform: scale(1.1) rotateZ(10deg); */
  background-color: lightgreen;
}

.trending-course-training-link a {
  color: #0052cc;
  text-decoration: none;
  font-size: 14px;
}

.trending-course-training-title {
  transform-style: preserve-3d;
}

.trending-course-training-title p {
  transform: translateZ(20px);
}

.trending-course-training-title h4 {
  transform: translateZ(30px);
}
