.box {
  background-color: red;
  height: 200px;
  width: 200px;
  /* color: white; */
  padding: 20px; /* top right bottom left*/
  padding: 10px 20px; /* top-bottom left-right*/
  padding: 5px 20px 10px; /* top left-right bottom */
  padding: 5px 10px 15px 20px; /* top right bottom left*/

  /* border 
            width (thickness)
            style (who line must be)
            color
    */
  /* border: 2px dashed green; */
  /* border-top: 2px dashed green; */
  border-left: 2px dashed green;
  border-right: 2px dashed green;

  margin: 20px; /* top right bottom left*/
  margin: 10px 20px; /* top-bottom left-right*/
  margin: 5px 20px 10px; /* top left-right bottom */
  margin: 5px 10px 15px 20px; /* top right bottom left*/
}
